<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/fs-pedigree/fs-pedigree.html">

<!--
Setup the pedigree page.

@element pedigree-page
-->
<dom-module id="pedigree-page">
  <template>
    <style>
      :host {
        display: block;
        overflow: hidden;
      }
    
      fs-pedigree {
        height: 100%;
        width: 100%;
      }
    </style>
    <slot></slot>
    <fs-pedigree 
      id="pedigree"
      add-persons
      person-id="[[personId]]"
      loading="{{loading}}"></fs-pedigree>
  </template>
  <script>
    class PedigreePage extends Polymer.Element {
      
      static get is() { return 'pedigree-page'; }
      
      static get properties() {
        return {
          personId: String,
          
          /**
           * Loading state of the pedigree-page.
           */
          loading: {
            type: Boolean,
            value: false,
            notify: true
          }
        };
      }
      
      reload() {
        this.$.pedigree.reload();
      }
    }
    
    customElements.define(PedigreePage.is, PedigreePage);
  </script>
</dom-module>
