<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-item/paper-item-body.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/fs-client/fs-client.html">
<link rel="import" href="../bower_components/fs-behavior/fs-behavior.html">

<!--
List the 10 most recent persons the user has viewed.

Basic example:

    <person-history></person-history>

@element user-history
-->
<dom-module id="person-history">
  <template>
    <style>
      paper-dropdown-menu {
        cursor: pointer;
        --paper-input-container-label: {
          color: #fff;
        }
        --paper-input-container-input: {
          color: #fff;
          cursor: pointer;
        }
        --paper-input-container-underline: {
          display: none;
        }
        --paper-dropdown-menu-icon: {
          color: #fff;
        }
      }
    </style>
    <fs-client></fs-client>
    <paper-dropdown-menu label="History" no-label-float horizontal-align="left">
      <paper-listbox id="list" class="dropdown-content">
        <template is="dom-repeat" items="{{persons}}">
          <paper-item label="{{item.display.name}}" on-tap="_selectPerson">
            <paper-item-body two-line>
              <div>{{item.display.name}}</div>
              <div secondary>{{item.id}}</div>
            </paper-item-body>
          </paper-item>
        </template>
      </paper-listbox>
    </paper-card>
  </template>
</dom-module>

<script>

  Polymer({

    is: 'person-history',
    
    properties: {
      
      persons: {
        type: Array,
        value: function(){
          return [];
        }
      }
      
    },
    
    behaviors: [FSBehavior],
    
    clear: function(){
      this.persons = [];
    },
    
    addPerson: function(personId){
      var self = this;
      if(!this._containsPerson(personId)){
        this.getClient().get('/platform/tree/persons/' + personId, function(error, response){
          if(response && response.statusCode === 200){
            self.unshift('persons', response.data.persons[0]);
            while(self.persons.length > 10){
              self.pop('persons');
            }
            self.$.list.select(self._indexOf(personId));
          }
        });
      }
    },
    
    _containsPerson: function(personId){
      var index = this._indexOf(personId);
      return index >= 0; 
    },
    
    _indexOf: function(personId){
      for(var i = 0; i < this.persons.length; i++){
        if(this.persons[i].id === personId){
          return i;
        }
      }
      return -1;
    },
    
    _selectPerson: function(event){
      this.fire('person-select', {personId: event.model.item.id});
    }
    
  });

</script>
