<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/fs-person-name/fs-person-preferred-name.html">
<link rel="import" href="../bower_components/fs-person-vitals/fs-person-vitals.html">
<link rel="import" href="../bower_components/fs-person-summary/fs-person-summary.html">
<link rel="import" href="../bower_components/fs-person-families/fs-person-families.html">
<link rel="import" href="../bower_components/fs-person-facts/fs-person-facts.html">
<link rel="import" href="../bower_components/fs-person-sources/fs-person-sources.html">
<link rel="import" href="../bower_components/fs-person-gender/fs-person-gender.html">
<link rel="import" href="../bower_components/fs-add-person/fs-add-person.html">

<!--
Small wrapper around person profile components. This acts as one control point
between the app and the profile for passing the person ID down and for reflecting
the loading state of the component.

@element person-details
-->
<dom-module id="person-details">
  <template>
    <style>
      fs-person-families {
        --fs-person-chip-hover: {
          cursor: pointer;
        }
      }
      
      #person-header {
        display: block;
      }
      
      paper-card {
        width: 100%;
      }
    </style>
    <paper-card id="person-header">
      <div class="card-content">
        <fs-person-summary person-loading="{{summaryLoading}}" person-id="[[personId]]"></fs-person-summary>
      </div>
    </paper-card>
    <div>
      <h3>Name</h3>
      <paper-card>
        <div class="card-content">
          <fs-person-preferred-name person-loading="{{nameLoading}}" person-id="[[personId]]" editable></fs-person-preferred-name>
        </div>
      </paper-card>
    </div>
    <div>
      <h3>Gender</h3>
      <paper-card class="preferred-name-card">
        <div class="card-content">
          <fs-person-gender person-loading="{{genderLoading}}" person-id="[[personId]]" editable></fs-person-gender>
        </div>
      </paper-card>
    </div>
    <div>
      <h3>Vitals</h3>
      <fs-person-vitals person-loading="{{vitalsLoading}}" person-id="[[personId]]"></fs-person-vitals>
    </div>
    <div>
      <h3>Facts</h3>
      <fs-person-facts person-loading="{{factsLoading}}" person-id="[[personId]]" ignore-vitals></fs-person-facts>
    </div>
    <div id="family">
      <h3>Family</h3>
      <fs-person-families
        id="families"
        loading="{{familiesLoading}}" 
        person-id="[[personId]]" 
        add-persons
        on-add-child="_addChild"
        on-add-father="_addFather"
        on-add-mother="_addMother"
        on-add-parent="_addParent"
        on-add-spouse="_addSpouse"
        on-add-child-unknown-parent="_addChildUnknownParent"></fs-person-families>
    </div>
    <div>
      <h3>Sources</h3>
      <fs-person-sources loading="{{sourcesLoading}}" person-id="[[personId]]"></fs-person-sources>
    </div>
    <fs-add-person id="addPerson" on-person-added="_reloadFamilies"></fs-add-person>
  </template>
  <script>
    class PersonDetails extends Polymer.Element {
      
      static get is() { return 'person-details'; }
      
      static get properties() {
        return {
          personId: String,
          
          /**
           * Reflect the loading state of the fs-person-preferred-name element
           */
          nameLoading: {
            type: Boolean,
            value: false
          },
          
          /**
           * Reflect the loading state of the fs-person-gender element
           */
          genderLoading: {
            type: Boolean,
            value: false
          },
          
          /**
           * Reflects the loading state of the fs-person-vitals element.
           */
          vitalsLoading: {
            type: Boolean,
            value: false
          },
          
          /**
           * Reflects the loading state of the fs-person-families element.
           */
          familiesLoading: {
            type: Boolean,
            value: false
          },
          
          /**
           * Reflects the loading state of the fs-person-sources element.
           */
          sourcesLoading: {
            type: Boolean,
            value: false
          },
          
          /**
           * Reflects the loading state of the fs-person-facts element.
           */
          factsLoading: {
            type: Boolean,
            value: false
          },
          
          /**
           * Reflects the loading state of the fs-person-summary element.
           */
          summaryLoading: {
            type: Boolean,
            value: false
          },
          
          /**
           * Loading state of the person-details. This component is in the loading
           * state when any of it's sub-elements are loading.
           */
          loading: {
            type: Boolean,
            readOnly: true,
            notify: true,
            computed: '_isLoading(nameLoading, genderLoading, vitalsLoading, summaryLoading, factsLoading, familiesLoading, sourcesLoading)'
          }
        };
      }
      
      _isLoading(nameLoading, genderLoading, vitalsLoading, summaryLoading, factsLoading, familiesLoading, sourcesLoading) {
        return nameLoading || genderLoading || vitalsLoading || summaryLoading || factsLoading || familiesLoading || sourcesLoading;
      }
      
      _reloadFamilies() {
        this.$.families.reload();
      }
      
      _addChild(e) {
        this.$.addPerson.fatherId = e.detail.fatherId;
        this.$.addPerson.motherId = e.detail.motherId;
        this.$.addPerson.open();
      }
      
      _addFather(e) {
        this.$.addPerson.caprIds = e.detail.caprIds;
        this.$.addPerson.motherId = e.detail.motherId;
        this.$.addPerson.gender = 'http://gedcomx.org/Male';
        this.$.addPerson.open();
      }
      
      _addMother(e) {
        this.$.addPerson.caprIds = e.detail.caprIds;
        this.$.addPerson.fatherId = e.detail.fatherId;
        this.$.addPerson.gender = 'http://gedcomx.org/Female';
        this.$.addPerson.open();
      }
      
      _addParent(e) {
        this.$.addPerson.childId = e.detail.childId;
        this.$.addPerson.open();
      }
      
      _addSpouse(e) {
        this.$.addPerson.spouseId = e.detail.spouseId;
        this.$.addPerson.open();
      }
      
      _addChildUnknownParent(e) {
        // One of these will be undefined. We don't know which so we just set both.
        this.$.addPerson.fatherId = e.detail.fatherId;
        this.$.addPerson.motherId = e.detail.motherId;
        this.$.addPerson.open();
      }
    }
    
    customElements.define(PersonDetails.is, PersonDetails);
  </script>
</dom-module>
