<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-item/paper-item-body.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/fs-client/fs-client.html">
<link rel="import" href="../bower_components/fs-behavior/fs-behavior.html">

<!--
List the 10 most recent persons the user has viewed. It works as a dropdown that
shows the current person and lists previous ones.

The list isn't persistent but it probably should be.

This does _not_ use the
[User History](https://familysearch.org/developers/docs/api/users/User_History_resource)
API because we don't yet have a clear strategy around sending updates to the API.

Basic example:

    <person-history></person-history>

@element user-history
-->
<dom-module id="person-history">
  <template>
    <style>
      paper-dropdown-menu {
        cursor: pointer;
        --paper-input-container-label: {
          color: #fff;
        }
        --paper-input-container-input: {
          color: #fff;
          cursor: pointer;
        }
        --paper-input-container-underline: {
          display: none;
        }
        --paper-dropdown-menu-icon: {
          color: #fff;
        }
      }
    </style>
    <fs-client></fs-client>
    <paper-dropdown-menu label="History" no-label-float horizontal-align="left">
      <paper-listbox id="list" class="dropdown-content">
        <template is="dom-repeat" items="{{persons}}">
          <paper-item label="{{item.display.name}}" on-tap="_selectPerson">
            <paper-item-body two-line>
              <div>{{item.display.name}}</div>
              <div secondary>{{item.id}}</div>
            </paper-item-body>
          </paper-item>
        </template>
      </paper-listbox>
    </paper-card>
  </template>
</dom-module>

<script>

  Polymer({

    is: 'person-history',
    
    properties: {
      
      /**
       * List of people in the history.
       */
      persons: {
        type: Array,
        value: function(){
          return [];
        }
      }
      
    },
    
    behaviors: [FSBehavior],
    
    /**
     * Clear the list. Should probably only be used when the user signs out.
     */
    clear: function(){
      this.persons = [];
    },
    
    /**
     * Add a person to the list. This component will load the person specified
     * by the ID so that it can display the person's name.
     * 
     * @param {String} personId ID of the person to be added.
     */
    addPerson: function(personId){
      var self = this;
      
      // TODO: when people are already in the list, move them to the top.
      // https://github.com/fs-webcomponents/sample-app/issues/6
      
      // Don't add the person if they're already in the list.
      if(!this._containsPerson(personId)){
        this.getClient().get('/platform/tree/persons/' + personId, function(error, response){
          if(response && response.statusCode === 200){
            
            // Add the person to the front of the list.
            self.unshift('persons', response.data.persons[0]);
            
            // Remove people at the end of the list if it's longer than 10.
            while(self.persons.length > 10){
              self.pop('persons');
            }
            
            // Select the person that was added.
            self.$.list.select(self._indexOf(personId));
          }
        });
      }
    },
    
    _containsPerson: function(personId){
      var index = this._indexOf(personId);
      return index >= 0; 
    },
    
    _indexOf: function(personId){
      for(var i = 0; i < this.persons.length; i++){
        if(this.persons[i].id === personId){
          return i;
        }
      }
      return -1;
    },
    
    _selectPerson: function(event){
      this.fire('person-select', {personId: event.model.item.id});
    }
    
  });

</script>
