<link rel="import" href="../bower_components/polymer/polymer.html">
<script src="/bower_components/page/page.js"></script>

<!-- Paper Elements -->
<link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner-lite.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/hardware-icons.html">

<!-- FamilySearch Components -->
<link rel="import" href="../bower_components/fs-client/fs-client.html">
<link rel="import" href="../bower_components/fs-signin/fs-signin.html">
<link rel="import" href="../bower_components/fs-pedigree/fs-pedigree.html">
<link rel="import" href="../bower_components/fs-person-card/fs-person-card.html">
<link rel="import" href="../bower_components/fs-person-behavior/fs-person-behavior.html">

<!-- Custom Sample App Components -->
<link rel="import" href="person-history.html">
<link rel="import" href="person-details.html">

<dom-module id="sample-app">
  <template>
    <style>
      paper-toolbar {
        --paper-toolbar-background: var(--google-green-500);
        margin-bottom: 16px;
      }
      
      paper-toolbar .title a {
        color: white;
        text-decoration: none;
        cursor: pointer;
        pointer-events: auto;
      }
      
      fs-signin {
        --fs-signin-signin: {
          background-color: var(--google-red-500);
        }
      }
      
      .container {
        max-width: 900px;
        margin: auto;
      }
      
      #main {
        padding-bottom: 32px;
      }
      
      #welcome {
        text-align: center;
      }
      
      #welcome img {
        height: 600px;
        margin: auto;
        margin-top: 64px;
      }
      
      #person-nav-toolbar {
        margin-bottom: 1em;
      }
      
      #loader {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,.2);
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      paper-spinner-lite {
        --paper-spinner-color: var(--google-green-500);
      }
      
      fs-pedigree {
        --fs-pedigree-person-width: 200px;
      }
      
      fs-person-card {
        display: none;
        position: absolute;
      }
      
      #footer {
        text-align: right;
        margin: 0 16px 16px 0;
      }
      
      #footer a,
      #footer a:visited {
        color: #42A5F5;
        text-decoration: none;
      }
    </style>
    
    <fs-client id="client" app-key="a02j00000099Mc2AAE" redirect-uri="/" 
               save-access-token exchange-code authenticated="{{authenticated}}"
               debounce-duplicates></fs-client>
    
    <paper-toolbar>
      <div class="title"><a href="/">Sample App</a></div>
      <person-history id="history"></person-history>
      <fs-signin></fs-signin>
    </paper-toolbar>
    
    <div id="main">
      
      <div class="container">
        
        <!-- content displayed when the user isn't signed in -->
        <div id="welcome" hidden$="[[authenticated]]">
          <h1>FamilySearch Web Components Sample App</h1>
          <fs-signin></fs-signin>
          <div><img src="/public/fs-wc-screenshot.png" /></div>
        </div>
        
        <!-- when the user is signed in, this button helps them toggle between the person details and pedigree -->
        <div id="person-nav-toolbar" hidden$="[[!authenticated]]">
          <paper-button on-tap="_togglePage">[[_navButtonText(page)]]</paper-button>
        </div>
        
        <person-details id="personDetails" person-id="[[personId]]" hidden$="[[!_showPersonDetails(authenticated, page)]]" loading="{{personDetailsLoading}}"></person-details>
        <fs-pedigree id="pedigree" person-id="[[personId]]" hidden$="[[!_showPedigree(authenticated, page)]]"></fs-pedigree>
      </div>
      
    </div>
    
    <div id="footer">
      <p>
        <a href="https://github.com/fs-webcomponents/sample-app" target="_blank">Source Code on GitHub</a> |
        <a href="https://www.polymer-project.org/1.0/" target="_blank">Built with Polymer</a>
      </p>
    </div>
    
    <fs-person-card id="personCard">
      <div class="card-actions">
        <paper-button on-tap="_navigateToProfile"><iron-icon icon="perm-identity"></iron-icon> Profile</paper-button>
        <paper-button on-tap="_navigateToPedigree"><iron-icon icon="hardware:device-hub"></iron-icon> Pedigree</paper-button>
      </div>
    </fs-person-card>

    <div id="loader" hidden$="[[!loading]]">
      <paper-spinner-lite active></paper-spinner>
    </div>
  </template>
</dom-module>

<script>

  Polymer({

    is: 'sample-app',
    
    properties: {
      
      /**
       * The personId is set by the routes (the routes extract if from the URL)
       * then it's passed on to the person-history, person-details, and fs-pedigree
       * components.
       */
      personId: {
        type: String,
        observer: '_personIdChanged'
      },
      
      /**
       * True if either the user is loading or the person-details is loading.
       */
      loading: {
        type: Boolean,
        value: false,
        computed: '_isLoading(userLoading, personDetailsLoading)',
        observer: '_loadingChanged'
      },
      
      /**
       * Whether the user is being loaded.
       */
      userLoading: {
        type: Boolean,
        value: false
      },
      
      /**
       * Bound to the loading attribute of the person-details component. Therefore
       * it will reflect the person-details loading state.
       */
      personDetailsLoading: {
        type: Boolean,
        value: false
      },
      
      /**
       * Supported values are 'person' and 'pedigree'
       */
      page: {
        type: String,
        value: 'person'
      }
      
    },
    
    behaviors: [FSBehavior],
    
    /**
     * This method is called when the component and it's children have been
     * setup. This method is guaranteed to only be called once.
     * https://www.polymer-project.org/1.0/docs/devguide/registering-elements#lifecycle-callbacks
     */
    ready: function(){
      this._routerSetup();
      
      // Listen for authentication events
      this.$.client.addEventListener('authenticated-changed', this._authenticatedChanged.bind(this));
      
      // Show a person's card when they are clicked on in the family area.
      // These events bubble up from `fs-person-families`.
      this.$.personDetails.addEventListener('person-tap', this._showPersonCard.bind(this));
      
      // Show a person's card when they are clicked on in the pedigree.
      this.$.pedigree.addEventListener('person-tap', this._showPersonCard.bind(this));
      
      // Hide the person card if anything else is clicked.
      this.addEventListener('tap', this._showPersonCard.bind(this));
      
      // Navigate to a person when selected from the history dropdown.
      this.$.history.addEventListener('person-select', this._personSelected.bind(this));
      
      // this.$.profileButton.addEventListener('tap', this._showPersonDetails.bind(this));
    },
    
    /**
     * Show the person card.
     * 
     * @param {personId: string, x: Integer, y: Integer}
     */
    _showPersonCard: function(event){
      if(event.detail.personId){
        this.$.personCard.personId = event.detail.personId;
        this.$.personCard.style.display = 'block';
        this.$.personCard.style.left = event.detail.x + 'px';
        this.$.personCard.style.top = (event.detail.y + document.body.scrollTop) + 'px';
      } else {
        this.$.personCard.style.display = 'none';
      }
    },
    
    /**
     * Show a person's profile when the person card profile button is clicked.
     */
    _navigateToProfile: function(){
      page('/person/' + this.$.personCard.personId);
    },
    
    /**
     * Show a person's pedigree when the person card pedigree button is clicked.
     */
    _navigateToPedigree: function(){
      page('/pedigree/' + this.$.personCard.personId);
    },
    
    /**
     * Used to calculate when the loading indicator should load.
     */
    _isLoading: function(personLoading, userLoading, personDetailsLoading){
      return personLoading || userLoading || personDetailsLoading;
    },
    
    /**
     * Freeze window scroll when loading
     */
    _loadingChanged: function(loading){
      if(loading){
        document.body.style.overflow = 'hidden';
      } else {
        document.body.style.overflow = 'auto';
      }
    },
    
    /**
     * Add the personId to the history list when it's available.
     */
    _personIdChanged: function(personId){
      if(personId){
        this.$.history.addPerson(personId);
      }
    },
    
    /**
     * Navigate to a new person page. This is a shared event handler.
     */
    _personSelected: function(e){
      if(e.detail.personId){
        page('/' + this.page + '/' + e.detail.personId);
      }
    },
    
    /** 
     * Handle sign in and sign out actions. We can't use the fs-client redirect
     * properties because our router won't notice them and respond appropriately
     * so we must manually handle them and tell our router where to go.
     */
    _authenticatedChanged: function(event){
        
      // Sign in
      if(event.detail.value) {
        page('/person');
      } 
      
      // Sign out
      else {
        this.personId = '';
        this.user = {};
        this.$.history.clear();
        page('/');
      }
    },
    
    /**
     * Decided whether the person-details section should be displayed.
     */
    _showPersonDetails: function(authenticated, page){
      return authenticated && page === 'person';
    },
    
    /**
     * Decided whether the pedigree section should be displayed.
     */
    _showPedigree: function(authenticated, page){
      return authenticated && page === 'pedigree';
    },
    
    /**
     * Toggle between the person and pedigree pages.
     */
    _togglePage: function(){
      if(this.page === 'person'){
        page('/pedigree/' + this.personId);
      } else {
        page('/person/' + this.personId);
      }
    },
    
    _navButtonText: function(page){
      if(this.page === 'person'){
        return 'Pedigree';
      } else {
        return 'Person';
      }
    },
    
    /**
     * Configure the router. We use page.js instead of Polymer app-routes because
     * we need asynchronous middleware to make sure the user is logged in.
     */
    _routerSetup: function(){
      var app = this;
      
      page('/person', ensureAuth, loadUser, function(){
        page.redirect('/person/' + app.user.personId);
      });
      page('/person/:personId', ensureAuth, function(context){
        app.personId = context.params.personId;
        app.page = 'person';
      });
      page('/pedigree/:personId', ensureAuth, function(context){
        app.personId = context.params.personId;
        app.page = 'pedigree';
      });
      
      // When signed in, forward to /person by default to load the current user
      // so that we then know who the start person is.
      // When signed out, show a welcome message.
      page('/', function(){
        if(app.isAuthenticated()){
          page.redirect('/person');
        }
      });
      
      // Setup event bindings and start the router.
      page();
      
      /**
       * Make sure the user is logged in before proceeding with the route.
       * Forward the user to the home page if they're not logged in.
       */
      function ensureAuth(context, next){
        if(!app.isAuthenticated()){
          page('/');
        } else {
          next();
        }
      }
      
      /**
       * Load the current user if it isn't already available. The current user
       * is required for knowing who the start person is.
       */
      function loadUser(context, next){
        if(!app.user){
          app.userLoading = true;
          app.getClient().get('/platform/users/current', function(error, response){
            app.userLoading = false;
            if(error){
              console.error(error);
            } else if(response && response.statusCode === 200){
              app.user = response.data.users[0];
            } else if(response && response.statusCode === 401){
              app.$.client.signOut();
              page('/');
              return;
            }
            next();
          });
        } else {
          next();
        }
      }
    }
    
  });
  
</script>