<link rel="import" href="../bower_components/polymer/polymer-element.html">
<script src="/bower_components/page/page.js"></script>

<!-- Polymer Elements -->
<link rel="import" href="../bower_components/app-layout/app-layout.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner-lite.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icons/hardware-icons.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">

<!-- FamilySearch Components -->
<link rel="import" href="../bower_components/fs-client/fs-client.html">
<link rel="import" href="../bower_components/fs-signin/fs-signin.html">
<link rel="import" href="../bower_components/fs-person-card/fs-person-card.html">
<link rel="import" href="../bower_components/fs-add-person/fs-add-person.html">
<link rel="import" href="../bower_components/fs-user-history/fs-user-history.html">

<!-- Custom Sample App Components -->
<link rel="import" href="home-page.html">
<link rel="import" href="person-page.html">
<link rel="import" href="pedigree-page.html">

<dom-module id="sample-app">
  <template>
    <style>
      :host {
        display: flex;
        flex-direction: column;
        height: 100%;
      }
    
      app-header {
        background-color: var(--google-green-500);
        margin-bottom: 16px;
      }
      
      app-toolbar .title a {
        color: white;
        text-decoration: none;
        cursor: pointer;
        pointer-events: auto;
      }
      
      fs-signin {
        --fs-signin-signin: {
          background-color: var(--google-red-500);
        }
        font-size: initial;
      }
      
      [hidden] {
        display: none !important;
      }
      
      #main {
        flex: 1;
      }
      
      #person-nav-toolbar {
        margin-bottom: 1em;
      }
      
      fs-user-history {
        cursor: pointer;
        margin-right: 1em;
        
        --paper-input-container-label: {
          color: #fff;
        }
        --paper-input-container-input: {
          color: #fff;
          cursor: pointer;
        }
        --paper-input-container-underline: {
          display: none;
        }
        --paper-dropdown-menu-icon: {
          color: #fff;
        }
      }
      
      #loader {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,.2);
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      paper-spinner-lite {
        --paper-spinner-color: var(--google-green-500);
      }
      
      :host {
        --fs-person-chip-hover: {
          cursor: pointer;
        }
      }
      
      home-page,
      person-page {
        max-width: 900px;
        margin: auto;
      }
      
      iron-pages,
      pedigree-page {
        height: 100%;
      }
      
      fs-person-card {
        display: none;
        position: absolute;
      }
      
      #footer {
        margin-left: auto;
        padding: 0 1em;
      }
      
      #footer a,
      #footer a:visited {
        color: #42A5F5;
        text-decoration: none;
      }
    </style>
    
    <fs-client id="client" 
      app-key="a02j00000099Mc2AAE" 
      redirect-uri="/"
      save-access-token 
      exchange-code 
      authenticated="{{authenticated}}"
      debounce-duplicates
      token-cookie-path="/"
      notify-unauthorized-responses
      on-unauthorized-response="_unauthorizedResponse"></fs-client>
    
    <app-header>
      <app-toolbar>
        <div main-title class="title"><a href="/">Sample App</a></div>
        <fs-user-history id="history" on-person-select="_historySelect"></fs-user-history>
        <fs-signin></fs-signin>
      </app-toolbar>
    </app-header>
    
    <div id="main">
      <iron-pages selected="{{page}}" attr-for-selected="name">
        <home-page name="home"></home-page>
        <person-page
          id="personPage"
          name="person"
          loading="{{personDetailsLoading}}"
          on-person-click="_showPersonCard"
          on-add-person="_addPerson">
          <paper-button on-tap="_togglePedigreePage">Pedigree</paper-button>
        </person-page>
        <pedigree-page 
          id="pedigreePage"
          name="pedigree"
          loading="{{pedigreeLoading}}"
          on-person-click="_showPersonCard"
          on-add-person="_addPerson">
          <paper-button on-tap="_toggleProfilePage">Person</paper-button>
        </pedigree-page>
      </iron-pages>
    </div>
    
    <div id="footer">
      <p>
        <a href="https://github.com/fs-webcomponents/sample-app" target="_blank">Source Code on GitHub</a> |
        <a href="https://www.polymer-project.org" target="_blank">Built with Polymer</a>
      </p>
    </div>
    
    <paper-toast id="toast"></paper-toast>
    
    <!-- This card is shown when people are clicked on from the family or pedigree section -->
    <fs-person-card id="personCard">
      <div class="card-actions">
        <paper-button on-tap="_navigateToProfile"><iron-icon icon="perm-identity"></iron-icon> Profile</paper-button>
        <paper-button on-tap="_navigateToPedigree"><iron-icon icon="hardware:device-hub"></iron-icon> Pedigree</paper-button>
      </div>
    </fs-person-card>
    
    <!-- This dialog is shown when a person is being added to the tree -->
    <fs-add-person id="addPerson" on-person-added="_reload"></fs-add-person>

    <!-- The loader shows when person details are loading -->
    <div id="loader" hidden$="[[!loading]]">
      <paper-spinner-lite active></paper-spinner>
    </div>
    
  </template>
  <script>
    class SampleApp extends Polymer.Element {
  
      static get is() { return 'sample-app'; }
      
      static get properties() {
        return {
          /**
           * The personId is set by the routes (the routes extract it from the URL)
           * then it's passed on to the person-history, person-details, and fs-pedigree
           * components.
           */
          personId: {
            type: String,
            observer: '_personIdChanged'
          },
          
          /**
           * True if either the user is loading or the person-details is loading.
           */
          loading: {
            type: Boolean,
            value: false,
            computed: '_isLoading(personLoading, userLoading, personDetailsLoading, pedigreeLoading)',
            observer: '_loadingChanged'
          },
          
          /**
           * Whether the user is being loaded.
           */
          userLoading: {
            type: Boolean,
            value: false
          },
          
          /**
           * Bound to the loading attribute of the person-details component. Therefore
           * it will reflect the person-details loading state.
           */
          personDetailsLoading: {
            type: Boolean,
            value: false
          },
          
          /**
           * Whether the pedigree page is loading.
           */
          pedigreeLoading: {
            type: Boolean,
            value: false
          },
          
          /**
           * Supported values are 'person' and 'pedigree'
           */
          page: {
            type: String,
            value: 'home'
          },
          
          authenticated: {
            type: Boolean,
            value: false,
            notify: true
          }
        };
      }
      
      /**
       * This method is called when the component and it's children have been
       * setup. This method is guaranteed to only be called once.
       * https://www.polymer-project.org/2.0/docs/devguide/registering-elements#lifecycle-callbacks
       */
      ready() {
        super.ready();
        this._routerSetup();
        
        // Handle signin/signout events.
        // We manually set this up here instead of in the markup because
        // the authenticated-changed event gets fired on load with the default
        // value of false which then triggers our sign-out reload behavior.
        // Manually attaching the listener here causes it to miss the initial
        // change event with the default value of false.
        // An alternative would be to change our sign-out behavior.
        this.$.client.addEventListener('authenticated-changed', (e) => this._authenticatedChanged(e));
        
        // Hide the person card if anything else is clicked.
        // I'm pretty sure we can't do this via markup (i.e. can't register
        // an event listener on the custom element itself).
        this.addEventListener('click', this._hidePersonCard.bind(this));
        
        // Listen for HTTP errors and show them in a toast. Sadly we don't have
        // very user-friendly error messages.
        this.addEventListener('fs-request-response', (e) => {
          const response = e.detail.response;
          if(response && response.statusCode >= 400) {
            this.$.toast.text = `Error ${response.statusCode}: ${response.statusText}`;
            this.$.toast.open();
          }
        });
      }
      
      /**
       * Show the person card.
       */
      _showPersonCard(event) {
        if(event.detail.personId){
          this.$.personCard.personId = event.detail.personId;
          this.$.personCard.style.display = 'block';
          this.$.personCard.style.left = event.detail.sourceEvent.pageX + 'px';
          this.$.personCard.style.top = event.detail.sourceEvent.pageY + 'px';
        }
      }
      
      /**
       * Hide the person card if something besides a fs-person-chip is clicked
       */
      _hidePersonCard(e) {
        const path = e.path || this._nodePath(e.target);
        const pathLength = path.length;
        for(let i = 0; i < pathLength; i++){
          if(path[i] instanceof FSPersonChip) {
            return;
          }
        }
        this.$.personCard.style.display = 'none';
      }
      
      /**
       * Calculate an element's node path (list of parent nodes)
       */
      _nodePath(e) {
        const path = [];
        const c = e;
        while(c) {
          path.push(c);
          c = c.parentNode;
        }
        return path;
      }
      
      /**
       * Show a person's detail page when the person card profile button is clicked.
       */
      _navigateToProfile() {
        page('/person/' + this.$.personCard.personId);
      }
      
      /**
       * Show the current person's profile
       */
      _toggleProfilePage() {
        page('/person/' + this.personId);
      }
      
      /**
       * Show a person's pedigree when the person card pedigree button is clicked.
       */
      _navigateToPedigree() {
        page('/pedigree/' + this.$.personCard.personId);
      }
      
      /**
       * Show the current person's pedigree
       */
      _togglePedigreePage() {
        page('/pedigree/' + this.personId);
      }
      
      /**
       * Used to calculate when the loading indicator should load.
       */
      _isLoading(personLoading, userLoading, personDetailsLoading, pedigreeLoading) {
        return personLoading || userLoading || personDetailsLoading || pedigreeLoading;
      }
      
      /**
       * Freeze window scroll when loading
       */
      _loadingChanged(loading) {
        if(loading){
          document.body.style.overflow = 'hidden';
        } else {
          document.body.style.overflow = 'auto';
        }
      }
      
      /**
       * Reload the pedigree and person details
       */
      _reload() {
        if(this.page === 'pedigree') {
          this.$.pedigreePage.reload();
        } else if(this.page === 'person') {
          this.$.personPage.reload();
        }
      }
      
      /**
       * Add the personId to the history list when it's available.
       */
      _personIdChanged(personId) {
        if(personId){
          this.$.history.addPerson(personId);
        }
      }
      
      /** 
       * Handle sign in and sign out actions. We can't use the fs-client redirect
       * properties because our router won't notice them and respond appropriately
       * so we must manually handle them and tell our router where to go.
       */
      _authenticatedChanged(event) {
        if(event.detail.value) {
          this._signIn();
        } else {
          this._signOut();
        }
      }
      
      /**
       * Response to sign in events
       */
      _signIn() {
        page('/person');
      }
      
      /**
       * Handle the signout process by clearing user data and forwarding to
       * the home page.
       */
      _signOut() {
        this.personId = '';
        this.user = {};
        this.$.history.clear();
        page('/');
      }
      
      /**
       * Decided whether the person-details section should be displayed.
       */
      _showPersonDetails(authenticated, page) {
        return authenticated && page === 'person';
      }
      
      /**
       * Decided whether the pedigree section should be displayed.
       */
      _showPedigree(authenticated, page) {
        return authenticated && page === 'pedigree';
      }
      
      /**
       * Process the person-select event from the person-history element
       */
      _historySelect(e){
        if(e.detail.personId){
          page('/' + this.page + '/' + e.detail.personId);
        }
      }
      
      /**
       * Handle the unauthorized-response event from fs-client. This means we
       * have a stale session so we initiate the signout process.
       */
      _unauthorizedResponse() {
        // We call the client's signOut() method so that it clears the session
        // and so that all elements interested in authentication state changes
        // are properly notified.
        this.$.client.signOut();
      }
      
      _addPerson(e) {
        this.$.addPerson.fatherId = e.detail.fatherId;
        this.$.addPerson.motherId = e.detail.motherId;
        this.$.addPerson.childId = e.detail.childId;
        this.$.addPerson.spouseId = e.detail.spouseId;
        this.$.addPerson.caprIds = e.detail.caprIds;
        this.$.addPerson.gender = e.detail.gender;
        this.$.addPerson.open();
      }
      
      /**
       * Configure the router. We use page.js instead of Polymer app-routes because
       * we need asynchronous middleware to make sure the user is logged in.
       */
      _routerSetup() {
        var app = this;
        
        page('/person', ensureAuth, loadUser, function(){
          page.redirect('/person/' + app.user.personId);
        });
        page('/person/:personId', ensureAuth, function(context){
          app.page = 'person';
          app.personId = context.params.personId;
          app.$.personPage.personId = app.personId;
        });
        page('/pedigree/:personId', ensureAuth, function(context){
          app.page = 'pedigree';
          app.personId = context.params.personId;
          app.$.pedigreePage.personId = app.personId;
        });
        
        // When signed in, forward to /person by default to load the current user
        // so that we then know who the start person is.
        // When signed out, show a welcome message.
        page('/', function(){
          if(app.authenticated){
            page.redirect('/person');
          } else {
            app.page = 'home';
          }
        });
        
        // Setup event bindings and start the router.
        page();
        
        /**
         * Make sure the user is logged in before proceeding with the route.
         * Forward the user to the home page if they're not logged in.
         */
        function ensureAuth(context, next){
          if(!app.authenticated){
            page('/');
          } else {
            next();
          }
        }
        
        /**
         * Load the current user if it isn't already available. The current user
         * is required for knowing who the start person is.
         */
        function loadUser(context, next){
          if(!app.user){
            app.userLoading = true;
            app.$.client.client.get('/platform/users/current', function(error, response){
              app.userLoading = false;
              if(error){
                console.error(error);
              } else if(response && response.statusCode === 200){
                app.user = response.data.users[0];
              } else if(response && response.statusCode === 401){
                app.$.client.signOut();
                page('/');
                return;
              }
              next();
            });
          } else {
            next();
          }
        }
      }
    }
    
    customElements.define(SampleApp.is, SampleApp);
  </script>
</dom-module>
